
.sidebar-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-link {
    width: max-content;
}

.nav-link:hover {
    transform: scale(1.05);
}

.icono-nav {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    width: 50px;
}

.container-fluid {
    padding-left: 30px;
}

