.loading-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    animation: loading 3s infinite;
    width: 50%;
}

@media screen and (min-width: 640px) {

    .loading {
        width: 30%;
    }
    @keyframes loading {
        0% {
            opacity: 0;
            transform: translateX(-600px);
        }
    
        50% {
            opacity: 1;
            transform: translateX(0px);
        }
    
        100% {
            opacity: 0;
            transform: translateX(600px);
        }
    }
}


@media screen and (min-width: 1000px) {

    .loading {
        width: 30%;
    }
    @keyframes loading {
        0% {
            opacity: 0;
            transform: translateX(-1000px);
        }
    
        50% {
            opacity: 1;
            transform: translateX(0px);
        }
    
        100% {
            opacity: 0;
            transform: translateX(1000px);
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    50% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}